@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// Variable overrides first
$primary: royalblue;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// common

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}

// 눈송이 효과
.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes showMenu {
  from {
    left: -600px;
  }
  to {
    left: 100px;
  }
}

@keyframes hideMenu {
  from {
    left: 100px;
  }
  to {
    left: -600px;
  }
}

// body

body {
  .notion {
    display: none;
    // &.alert {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   z-index: 100;
    //   width: 220px;
    //   height: 50px;
    //   background-color: black;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   margin: auto;
    //   color: white;
    // }
  }

  height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;

  // header
  header {
    position: relative;
    margin-top: 5px;
    height: 10vh;
    display: flex;
    align-items: center;

    .menuBtn {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      margin-right: 30px;
      padding: 0 5px;
      height: 50px;
      background-color: royalblue;
      color: whitesmoke;
      border-radius: 50%;
      cursor: pointer;
    }
    .menu-bar {
      position: fixed;
      left: -600px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid white;
      .utils {
        ul {
          display: flex;
          margin-bottom: 5px;
          li {
            background-color: rgba($color: white, $alpha: 0.1);
            border-radius: 30px;
            cursor: pointer;
            margin-right: 10px;
            &:nth-child(1) {
              a {
                color: rosybrown;
              }
            }
            &:nth-child(2) {
              a {
                color: royalblue;
              }
            }
            &:nth-child(3) {
              a {
                color: tomato;
              }
            }
          }
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 30px;
          box-shadow: 1px 1px 5px white;
          border-radius: 30px;
        }
      }

      .snowflakeBtn {
        width: 60px;
        height: 30px;
        background-color: rgb(73, 68, 68);
        border-radius: 40px;
        cursor: pointer;
        span {
          cursor: pointer;
          margin: auto 0;
          transition: all 0.5s linear;
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgb(237, 231, 231);
        }
        &.active {
          background-color: rgb(237, 231, 231);
          span {
            background-color: rgb(35, 27, 27);
            transform: translateX(30px);
          }
        }
      }
      .modeBtn {
        margin-left: 20px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: black;
        color: white;
        width: 120px;
        height: 30px;
        border-radius: 50px;
        cursor: pointer;
      }
    }

    .profile {
      position: fixed;
      top: auto;
      right: 10px;
      // background-color: royalblue;
      padding: 12px 10px;
      border-radius: 50%;
      color: white;
      cursor: pointer;
    }
  }
}

//main
main {
  display: flex;
  flex-direction: column;

  .todo {
    height: 50vh;
    .todo-input {
      #todo-form {
        display: flex;
        input {
          border-radius: 10px;
          &:focus {
            background-color: black;
            color: white;
          }
        }
        span {
          text-align: center;
          border: 1px solid white;
          border-radius: 50%;
          cursor: pointer;
          width: 30px;
          height: auto;
        }
        .btn-red {
          margin-left: 10px;
          background-color: red;
        }
        .btn-blue {
          background-color: blue;
        }
        .btn-green {
          background-color: green;
          margin-right: 10px;
        }
        button {
          background-color: black;
          color: white;
          border-radius: 10px;
        }
      }
    }
    .postContainer {
      touch-action: none;

      &:hover {
        z-index: 100000000;
      }
    }
    .postit {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      color: white;
      box-shadow: 5px 5px 20px black;
      -ms-user-select: none;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      touch-action: none;
      &:active {
        span {
          display: none;
        }
        button {
          opacity: 0;
        }
      }

      &:hover {
        cursor: pointer;
      }
      button {
        position: absolute;
        bottom: 10px;
        border-radius: 10px;
        background-color: transparent;
        border: transparent;
        color: white;
      }
      .content {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        max-width: 200px;
      }

      span {
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        margin: auto;
        // z-index: 1;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
      }
    }
  }
}

// footer
footer {
  .back {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: white;
    a {
      &:hover {
        color: royalblue;
        transition: all 0.2s linear;
      }
    }
  }
  .background {
    button {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 55px;
      bottom: 7px;
      width: 40px;
      height: 30px;
      border: transparent;
      background-color: transparent;
      i {
        color: white;
      }
    }
  }
}

// body {
//   //url("https://source.unsplash.com/random/1700x1000/nature");
//   // url("https://cdn.mhns.co.kr/news/photo/201709/77577_130215_213.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;

//   width: auto;
//   height: 100vh;
//   font-family: "Montserrat", sans-serif;
//   section {
//     position: relative;
//     display: flex;
//     .modeBtn {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       z-index: 98;
//       position: absolute;
//       top: 8;
//       left: 100px;
//       background-color: black;
//       color: white;
//       width: 120px;
//       height: 30px;
//       border-radius: 50px;
//     }

//     .snowflakeBtn {
//       position: absolute;
//       top: 8;
//       left: 10;
//       width: 60px;
//       height: 30px;
//       background-color: rgb(73, 68, 68);
//       border-radius: 40px;

//       span {
//         cursor: pointer;
//         margin: auto 0;
//         transition: all 0.5s linear;
//         display: block;
//         width: 30px;
//         height: 30px;
//         border-radius: 50%;
//         background-color: rgb(237, 231, 231);
//       }
//     }

//     &.active {
//       background-color: rgb(237, 231, 231);
//       span {
//         background-color: rgb(35, 27, 27);
//         transform: translateX(30px);
//       }
//     }
//   }

//   &::before {
//     opacity: 0.1;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     bottom: 0px;
//     background-color: #000;
//   }

//   header {
//     font-size: 35px;
//     color: cornflowerblue;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50px;
//     padding: 20px 20px;
//     transition: all 0.5s linear;
//     #todo-btn {
//       padding: 10px 30px;
//       border-radius: 50px;
//       font-family: "Montserrat";
//       background-color: black;
//       color: white;
//     }
//     #todo-form {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       z-index: 1;
//       input {
//         text-align: center;
//         border: 2px solid slateblue;
//         border-radius: 100px;
//         height: 30px;
//         background-color: rgba($color: white, $alpha: 0.1);
//       }
//     }
//     ul {
//       list-style: decimal;
//       font-size: 30px;

//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       padding-bottom: 20px;
//       color: tomato;
//     }
//     // &:hover {
//     //   background-color: rgba($color: white, $alpha: 0.7);
//     //   transition: all 1s linear;
//     // }
//   }

//   main {
//     display: grid;
//     grid-template-columns: 1fr 2fr 1fr;
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: space-around;
//     align-items: center;
//     color: white;
//     text-align: center;
//   }
// }

// h1 {
//   text-align: center;
// }

// #clock {
//   font-size: 120px;
//   font-weight: 700;
//   border-radius: 50px;
//   letter-spacing: 5px;

//   &:hover {
//     color: tomato;
//     transition: all 1s linear;
//   }
// }

// #greeting {
//   color: white;
//   font-weight: 700;
//   font-size: 35px;
//   letter-spacing: 10px;
//   border-bottom: 2px solid whitesmoke;
// }

// #quote {
//   font-size: 30px;
// }

// #mail {
//   position: absolute;
//   top: 8;
//   left: 100;
//   border-radius: 10px;
//   padding: 10px 30px;
//   background-color: black;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   a {
//     color: white;
//     text-decoration: none;
//   }
//   &:hover {
//     background-color: white;
//     a {
//       color: black;
//     }
//     color: black;

//     transition: all 0.3s linear;
//   }
// }
